matplotlib
numpy
scipy
imageio
pillow
scikit-image
pyyaml
pandas
seaborn
shapely
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
networkx==3.0
tensorboard
tqdm
box2d-py
gym>=0.25
pybullet
ctrlutils==1.4.1
pysymbolic @ git+https://github.com/JakobThumm/symbolic
spatialdyn==1.4.4
tyro
opencv-python
atomicwrites
pexpect
gdown
black
mypy
flake8
shapely
pytest